.list-page {
  padding: 15px;

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
  }

  &__color {
    width: 25px;
    height: 25px;
    background-color: rebeccapurple;
    margin-right: 5px;
    border-radius: 5px;
  }
  &__title {
    margin: 0;
    margin-right: 15px;
    font-size: 30px;
  }
  &__count {
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    font-weight: 600;
    font-size: 20px;
  }
}
