* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
}

.main {
  height: calc(100vh - 40px);
  margin: 20px 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  width: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 5px;
}
